{% extends 'base.html' %}
{% block body %}
<main style="padding-top: 6rem;"  class="container">
    <a href="{% url 'product_list' %}" class="btn btn-dark my-2">Back</a>
    <div class="row justify-content-center align-items-start">
        <div class="col-sm-12 col-lg-8">
            <img class="img-fluid rounded" src="https://images.pexels.com/photos/762687/pexels-photo-762687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="The cover of Stubborn Attachments" />
        </div>
        <div class="col-sm-12 col-lg-4">
            <h1 class="dislay-2 fw-bold">{{ product.name }}</h1>
            <h5>${{ product.price }}</h5>
            <form action="{% url 'create_checkout_session' %}" method="POST">
                <button class="btn btn-dark w-100" type="submit" id="checkout-button">Checkout</button>
            </form>
        </div>
    </div>
</main>
{% csrf_token %}
<script type="text/javascript">

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // create instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function (){

        fetch("{% url 'create_checkout_session' product.id %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrftoken
            }
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session){
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
            // if redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error.message);
        })

    })

</script>
{% endblock %}