{% extends 'base.html' %}
{% block body %}
<main style="padding-top: 6rem" class="container">
    <section class="success-content text-center">
        <div class="success-wrapper">
            <i class="bi bi-check-circle display-1 text-success"></i>
            <h1 class="display-1">Payment Successful</h1>
            <p class="mb-4">Thank you! Your payment has been processed successfully. A confirmation email has been sent to your email address.</p>
            <p class="mb-4">You can continue shopping or view your order details.</p>
            <a class="btn btn-dark rounded-pill py-3 px-5 mb-2" href="{% url 'product_list' %}">Continue Shopping</a>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'order_details' %}">View Order Details</a>
        </div>
    </section>
</main>
{% endblock %}
