{% extends 'base.html' %}
{% block body %}
<main style="padding-top: 6rem" class="container">
    <section class="error-content text-center">
        <div class="error-wrapper">
            <i class="bi bi-exclamation-triangle display-1 text-danger"></i>
            <h1 class="display-1">Cancelled!</h1>
            <h1 class="mb-4">Error</h1>
            <p class="mb-4">We’re sorry, something went wrong! Maybe go to our home page or try shop more items?</p>
            <a class="btn btn-dark rounded-pill py-3 px-5" href="{% url 'product_list' %}">Go Back To Shop</a>
        </div>
    </section>
</main>
{% endblock %}